---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Page Unavailable" description="">
  <p>Oops! This seems to be an invalid page.</p>
</Layout>

<style>
  p {
    width: 100%;
    text-align: center;
  }
</style>
