---
interface Props {
  component?: keyof HTMLElementTagNameMap;
  command: string;
  cursor?: boolean;
}

const { component = "h2", command, cursor = false } = Astro.props;
const Component = component;
---

<Component class="mb-5">
  <span class="select-none text-muted" aria-hidden="true">$ </span>{command}{
    cursor &&
      // prettier-ignore
      <span class="select-none cursor-underscore" aria-hidden="true">_</span>
  }
</Component>

<style>
  .cursor-underscore {
    animation: blink 1s step-end infinite;
  }

  @keyframes blink {
    0%,
    50% {
      opacity: 1;
    }
    50.01%,
    100% {
      opacity: 0;
    }
  }
</style>
