---
import { Image } from "astro:assets";
import pfpImage from "../images/pfp.png";
---

<div id="header-container">
  <Image id="pfp" loading="eager" alt="Austin Schneider" src={pfpImage} />
  <div id="text">
    <h1>Austin Schneider</h1>
    <span>Software Developer</span>
  </div>

  <style>
    #header-container {
      height: 100px;
      margin: 10px;

      display: flex;
    }

    #text {
      align-self: flex-end;
    }

    #text > h1 {
      font-size: 42px;
      margin: 0px 0px 5px 0px;
    }

    #text > span {
      color: var(--darkgray);
    }

    #pfp {
      width: 100px;
      height: 100px;
      margin-right: 30px;
      border-radius: 20px;
    }
  </style>
</div>
