<div class="terminal">
  <slot />
</div>

<style>
  .terminal {
    background-color: var(--fg);
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 15px;
    margin: 20px 0px;
  }
</style>
