---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" sizes="any" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --background: #f1f5f0;
    --main-text: #121212;

    --lightgray: #dddddd;
    --accent: #702b5f;
  }

  html,
  body {
    margin: 20px;
    background-color: var(--background);
    overflow-x: hidden; 
  }

  body {
    max-width: 800px;
    margin: 0 auto;
    font-family:
      Trebuchet MS,
      Verdana,
      Arial,
      Helvetica,
      Tahoma,
      sans-serif,
      monospace;
    font-size: 18px;
    color: var(--main-text);
  }

  a {
    color: var(--accent);
  }

  a:visited {
    <!-- color: var(--link-visited); -->
  }

  p {
    line-height: 1.6;
  }
</style>
